@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Oswald:wght@300&display=swap');

body{
  background-image: linear-gradient(to right, #9ab0ff, #adb4ff, #beb9ff, #cdbeff, #dac3ff);
  font-family:lato;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: 50% 50%;
  margin-left: auto;
  margin-right: auto;

}
.main{
  background-color: white;
 
  width: 250px;
  height: 250px;
  top:10%;
  box-shadow: 0px 8px 60px -10px white;
  border-radius: 10px;
  padding:50px;
  padding-top:30px;
}
h1{
  font-family: 'Oswald';
}
/*add*/
.fa-plus-circle{
  font-size: 30px;
  position:fixed;
  right:12%; 
  top:82%;
  cursor: pointer;
}
/*check list*/
.fa{
  float:right;
  list-style:none;
  cursor: pointer;
  margin-top:15px;
  padding: 0 0 12px 0;
}
ul {
  font-family: 'Comic Neue';
  margin: 0;
  padding: 0;
}

ul li {
  float:left;
  width:90%;
  list-style:none;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 0;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:hover {
  color: #ddd;
}
ul li.checked {
  text-decoration: line-through;
  color:grey;
}


/*checkbox*/
input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.mark{
  position: relative;
  float:left;
  margin-right:10px;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}
.mark:after {
  content: "";
  position: absolute;
  display: none;
}
input:checked ~ .mark:after {
  display: block;
}
.mark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}





