@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans&display=swap');

*{
  cursor: url('https://img.icons8.com/ios-filled/50/000000/cursor.png'), auto;
}

body{
  background-color:#CE93D8;
  overflow: hidden;
  color:#D500F9;
}
#wrapper{
  position: absolute;
  border: 3px solid #D500F9;
  
  background-color:white;

  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
img:hover{
  filter:blur(2px);
}
.main{
  height:393px;
  width:350px;
}

#header{
  padding:10px;
  border-radius:10px 10px 0px 0px;
  border-bottom:3px solid #D500F9;
  font-family: 'Josefin Sans';
  font-size:20px;
}
.fa-window-minimize{
  float:right;
  font-size:20px;
  padding:5px;
}
img{
  width:100%;
}
/*logoo*/
.logo{
  position:absolute;
  top: 60%;
  left: 47%;
  transform: translate(-50%, -50%);
  width:20px;

  font-size: 50px;
  color :white;
}
.lg{
  cursor: url('https://img.icons8.com/android/50/000000/hand-cursor.png'), auto;
  filter: opacity(0.5);
}
.lg:hover{
  filter: opacity(1);
}
a{
  color:white;
}