body{
  background-image: linear-gradient(to right, #33691e, #397920, #3e8922, #449923, #4aaa24);
  font-family:lato;
  color:#212121;
}
.content{
  font-size:30px;
}
/*center*/
.wrapper{
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
}
/*----*/
.main{
  background-color: white;
  width: 100%;
  min-width:50ch;
  max-width:300px;
  max-height: 570px;
  padding:10px;
  
  top:20px;
  box-shadow: 0px 8px 40px 0 rgba(13,28,39,0.6);
  transition: 0.3s;
  border-radius: 10px;
  padding-bottom:16px;
}
/*nav bar*/

#vertical-nav{
  padding-top:300px;
  width:20%;
  float: right;
  right: 40px;
  top: 100%;
  bottom: auto;
  transform: translateY(-50%);
}
#vertical-nav ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}
#vertical-nav li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
a{
  text-decoration:none;
  color:#388E3C;
}


/*-----*/

/*scroll*/
#scroll{
  max-height:300px;
  overflow-y: scroll;
  overflow: auto;
  -webkit-transition: all .5s;
  opacity: 0.7;
}
#scroll:hover {
   opacity: 1;
  -webkit-transition: all .5s;
}
#scroll::-webkit-scrollbar {
  width: 20px;
}
.scroll-down{
  position:relative;
  left:40%;
  top:80%;
  bottom:0;
}
/*------*/
.section{
  height:300px;
  padding-left:20px;
  padding-top:10px;
}
/*inpuuuuts*/
.rate:active{
  color:yellow;
}
label{
  font-size: 15px;
}
input[type=text], select,textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #388E3C;
  border-radius: 4px;
}
button {
  width:100%;
  background-color: #388E3C; 
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:10px;
  cursor: none;
  
  position:relative;

}





